<div id="user_nav">
  <div class="span-4 first">
      <%= link_to('Opentrak', trackers_path, :class => 'stencil large no-underline')%>
  </div>
  <div class="span-8">
	 &nbsp;
  </div>
  <div class="span-12 last">
		Hey there tracker
  </div>
</div>